@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b111e;
    overflow: hidden;
}

/* Clock */
.clock-container {
    position: relative;
    z-index: 2;
    width: 480px;
    padding: 28px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
}
.days {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}
.days span.active {
    color: #fff;
    font-weight: 600;
}
.time {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 12px 0;
}
.date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
}
.date ion-icon {
    font-size: 1.2rem;
    color: #00ff99;
}

/* Responsive Design */
@media (max-width: 400px) {
    .clock-container {
    width: 90%;
    padding: 16px;
    }
    .time {
    font-size: 1.5rem;
    }

}
